<div class="col-12 col-xl-4 card pull-up ecom-card-1 bg-primary container-fluid">
    <div class="card h-100">
        <div class="card-header pb-0 p-3">
            <h6 class="mb-0">İstatistikler</h6>
        </div>
        <div class="card-body p-3">
            
            <ul class="list-group">
                <li class="list-group-item border-0 px-0">
                    <div>
                       
                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">Aktif Rezervasyon Sayınız: @ViewBag.activeReservations</label>
                    </div>
                </li>
                <li class="list-group-item border-0 px-0">
                    <div>

                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">Geçmiş Rezervasyon Sayınız: @ViewBag.pastReservations</label>
                    </div>
                </li>
                <li class="list-group-item border-0 px-0">
                    <div>

                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">Onay Bekleyen Rezervasyon Sayınız: @ViewBag.waitApproveReservations</label>
                    </div>
                </li>
                <li class="list-group-item border-0 px-0">
                    <div>

                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">Toplam Tur Sayısı: @ViewBag.totalDestination</label>
                    </div>
                </li>
                <li class="list-group-item border-0 px-0">
                    <div>

                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">Rehber Sayımız: @ViewBag.totalGuide</label>
                    </div>
                </li>
                <li class="list-group-item border-0 px-0">
                    <div>

                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">Toplam Misafir Sayımız: @ViewBag.totalUsers</label>
                    </div>
                </li>
                <li class="list-group-item border-0 px-0">
                    <div>

                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">Ortalama Puanımız: 8,97/10</label>
                    </div>
                </li>
          
            </ul>
          
        </div>
    </div>
</div>