@using Traversal.CQRS.Results.DestinationResults;
@model List<GetAllDestinationsQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3>CQRS Tur Verileri</h3>
<br />
@{
    int count = 0;
}
<table class="table table-hover">
   <tr>
       <th>#</th>
       <th>Şehir</th>
       <th>Tur Süresi</th>
       <th>Fiyat</th>
       <th>Kapasite</th>
       <th></th>
   </tr>


   @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.City</td>
            <td>@item.StayDuration</td>
            <td>@item.Price ₺</td>
            <td>@item.Capacity</td>

            <td>
                <i type="button"
                   id="btnactions"
                   data-bs-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    <i class="bx bx-dots-vertical-rounded"></i>
                </i>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="btnactions">
                    <a class="dropdown-item btn btn-outline-danger" asp-action="DeleteDestination" asp-route-id="@item.Id"><i class='bx bxs-trash-alt'></i>Sil </a>
                    <a asp-action="UpdateDestination" asp-route-id="@item.Id" class="dropdown-item btn btn-outline-primary"><i class='bx bxs-edit-alt'></i>Düzenle</a>
                    <a href="/Destination/DestinationDetails/@item.Id" class="dropdown-item btn btn-outline-info"> <i class='bx bx-laptop'></i>Sitede Gör</a>

                </div>
            </td>

        </tr>
    }
</table>
<br />
<a href="/Admin/DestinationCQRS/AddDestination" class="btn btn-dark">Yeni Tur Oluştur</a>