@using EntityLayer.Concrete;
@model List<Reservation>
@{
    ViewData["Title"] = "MyApprovalReservation";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="content-header row">
    <div class="content-header-left col-md-4 col-12 mb-2">
        <h3 class="content-header-title">Onay Bekleyen Rezervasyonlarınız</h3>
    </div>
    <div class="content-header-right col-md-8 col-12">
        <div class="breadcrumbs-top float-md-right">
            <div class="breadcrumb-wrapper mr-1">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/Member/Dashboard/Index">Ana Sayfa</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Onay Bekleyen Rezervasyonlarınız
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="card pull-up ecom-card-1 bg-white">
<h3>Merhaba @ViewBag.name ! </h3>
<br />
</div>
<h4></h4>
<br />
@{
    int count = 0;
}

@if (!Model.Any())
{
    <div class="card pull-up ecom-card-1 bg-white">
    <h4 class="text-danger"> @ViewBag.v </h4> ;
    </div>
}

else{
    <div class="card pull-up ecom-card-1 bg-white">
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Destinasyon</th>
        <th>Kişi Sayısı</th>
        <th>Tarih</th>
        <th>Durum</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.Destination</td>
            <td>@item.PeopleCount</td>
            <td>@item.ReservationDate.ToShortDateString()</td>
            <td class="text-warning">@item.Status</td>
        </tr>
    }

</table>
</div>
;

}


