@using EntityLayer.Concrete;
@model List<Info>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h3>Bilgiler</h3>
<br />
@{
    int count = 0;
}
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Açıklama</th>

        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        count++;

        <tr>
            <th>@count</th>
            <td> @item.Title</td>
            <td>@item.Description</td>
            <td>

                <i type="button"
                   id="btnactions"
                   data-bs-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false"> <i class="bx bx-dots-vertical-rounded"></i> </i>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="btnactions">

                    <a asp-action="DeleteInfo" asp-route-id="@item.InfoID" class="dropdown-item btn btn-outline-danger"><i class='bx bxs-trash-alt'></i>Sil</a>

                    <a asp-action="UpdateInfo" asp-route-id="@item.InfoID" class="dropdown-item btn btn-outline-primary"><i class='bx bxs-edit-alt'></i>Düzenle</a>



                </div>

            </td>
        </tr>
    }
</table>
<br />
<a href="/Admin/Info/AddInfo" class="btn btn-dark"><i class='bx bxs-plus-circle'></i>Yeni Bilgi Oluştur</a>


