@using EntityLayer.Concrete;
@model List<Destination>

<div class="author-card mt-5">
    @foreach (var item in Model)
    {
        
    
    <div class="row align-items-center">
        <div class="col-sm-3 col-6">
            <div>
                <img src="@item.Guide.Image" alt="" class="rounded-circle img-fluid">
            </div>
        </div>
        <div class="col-sm-9 mt-sm-0 mt-3">
            <h3 class="mb-3 title">@item.Guide.Name</h3>
            <p>
              @item.Guide.Description
            </p>
            <ul class="author-icons mt-4">
                <li>
                    <a class="facebook" href="#url">
                        <span class="fa fa-facebook"
                              aria-hidden="true"></span>
                    </a>
                </li>
                <li>
                    <a class="twitter" href="#url">
                        <span class="fa fa-twitter"
                              aria-hidden="true"></span>
                    </a>
                </li>
                <li>
                    <a class="google" href="#url">
                        <span class="fa fa-google-plus"
                              aria-hidden="true"></span>
                    </a>
                </li>
                <li>
                    <a class="linkedin" href="@item.Guide.Linkedin">
                        <span class="fa fa-linkedin"
                              aria-hidden="true"></span>
                    </a>
                </li>
                <li>
                    <a class="github" href="#url">
                        <span class="fa fa-github"
                              aria-hidden="true"></span>
                    </a>
                </li>
                <li>
                        <a class="instagram" href="@item.Guide.Instagram">
                        <span class="fa fa-instagram"
                              aria-hidden="true"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    }
</div>