@using Traversal.Areas.Admin.Models;
@model List<VisitorViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<br />
<h3> Ziyaretçiler <i class="text-danger">(API)</i>  </h3>

<br />
@{
    int count = 0;
}

<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Şehir</th>
        <th>Ülke</th>
        <th>Mail</th>

        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.Name @item.Surname</td>
            <td>@item.City</td>
            <td>@item.Country</td>
            <td>@item.Mail</td>

            <td>
                <i type="button"
                   id="btnactions"
                   data-bs-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    <i class="bx bx-dots-vertical-rounded"></i>
                </i>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="btnactions">
                    <a class="dropdown-item btn btn-outline-danger" asp-action="DeleteVisitor" asp-route-id="@item.VisitorID"><i class='bx bxs-trash-alt'></i>Sil </a>
                    <a asp-action="UpdateVisitor" asp-route-id="@item.VisitorID" class="dropdown-item btn btn-outline-primary"><i class='bx bxs-edit-alt'></i>Düzenle</a>
                    

                </div>
            </td>




        </tr>
    }
</table>
<br />
<a href="/Admin/VisitorApi/AddVisitor" class="btn btn-dark">Yeni Ziyaretçi Oluştur</a>